 <br>
 <br>
 <footer>
 <hr>
            CST336 Internet Programming. jaco20-lab4&copy; Contreras <br />
            <strong>Disclaimer:</strong> The information on this page may be innacurate.
            <figure>
                <img id="logo" src="img/CSUMB_Logo.png" alt="CSUMB Logo" width="300">
            </figure>
        </footer>
    </body>
</html>