<%- include('partials/header.ejs') %>
    <div class="headerText">
        <h1> Welcome to the Solar System Site!</h1><br>
    </div>
        <h2>Welcome to Earth!</h2>
        
         <main>
                <figure>
                    <img id="indexPic" src="img/earth.jpg" alt="earth">
                    <figcaption>Image by <a href="https://pixabay.com/users/PIRO4D-2707530/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1617121">PIRO4D</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1617121">Pixabay</a> </figcaption>
                </figure> 
                <div id="content">
                   <p>Earth, the planet that us humans inhabit. Earth is the third
                   planet away from the sun and considered the fifth largest in 
                   our solar system. It is the only planet known to have vast levels 
                   of water covering its' surface.The reason why we inhabit Earth along with 
                   with many other living things is because of high levels
                   of oxygen in its' atmosphere.  </p>
                </div>
        </main>
           
            
<%- include('partials/footer.ejs') %>
           
