<%- include('partials/header.ejs') %>
        <h1> Welcome to Jupiter!</h1>
         <main>
                <figure>
                    <img id="jupiterPic" src="img/jupiter.jpg" alt="jupiter">
                    <figcaption>Image by <a href="https://pixabay.com/users/GustavoAckles-6863234/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4869815">GustavoAckles</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4869815">Pixabay</a> </figcaption>
                </figure> 
                <div id="content">
                   <p>Jupiter is a gas giant, and the biggest planet in our solar
                   system. It does not have solid surface, has cloud stripes 
                   surrounding it, and actually does have rings but they are too 
                   faint to see.Jupiter has a thick atmosphere made of mostly hydrogen
                   and helium. It is the fifth planet from the sun and actually has 
                   79 confirmed moons!</p>
                </div>
        </main>   
<%- include('partials/footer.ejs') %>
           
