<%- include('partials/header.ejs') %>
        <h1> Welcome to Mercury!</h1>
         <main>
                <figure>
                    <img id="mercuryPic" src="img/mercury.png" alt="mercury">
                    <figcaption>Image by <a href="https://pixabay.com/users/skeeze-272447/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=822825">skeeze</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=822825">Pixabay</a> </figcaption>
                </figure> 
                <div id="content">
                   <p>Mercury is the terrestial planet closest to the sun and considered the 
                   smallest plannet in the solar system.In terms of size it is 
                   barely bigger than Earth's moon! On the subject of moons, it does
                   not have any orbitting it but it does a rocky surface full of
                   craters.Mecury has a very thin atmosphere which does a poor job
                   from protecting its' surface from solar rays.</p>
                </div>
        </main>
<%- include('partials/footer.ejs') %>
           
