<%- include('partials/header.ejs') %>
        <h1> Welcome to Saturn!</h1>
        
        <main>
                <figure>
                    <img id="saturnPic" src="img/saturn.jpg" alt="saturn">
                    <figcaption>Image by <a href="https://pixabay.com/users/WikiImages-1897/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=67671">WikiImages</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=67671">Pixabay</a> </figcaption>
                </figure> 
                <div id="content">
                   <p>Saturn is a gas giant similar to Jupiter. It is composed mostly
                   of hydrogen and helium and is the sixth planet in our solar system.
                   Saturn has 53 confirmed moons so Jupiter still takes the lead with 79.
                   What makes Saturn look so beautiful are the numerous ringlets made 
                   of chunks of rock and ice that surround it.</p>
                </div>
        </main>    
<%- include('partials/footer.ejs') %>
           
