<%- include('partials/header.ejs') %>
        <h1> Welcome to Venus!</h1>
        <main>
                <figure>
                    <img id="venusPic" src="img/venus.jpg" alt="venus" width="360">
                    <figcaption>Image by <a href="https://pixabay.com/users/WikiImages-1897/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=11022">WikiImages</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=11022">Pixabay</a> </figcaption>
                </figure> 
                <div id="content">
                   <p>Venus is mercury's and Earth's neighbor and is the second
                   closest planet to the sun. Despite Mercury being closest to the 
                   sun, venus is the hottest. This is due to Venus's atmosphere being
                   full of greenhouse gases trapping the heat and warming up the surface
                   to about 900 degrees Fahrenheit (465 degrees Celsius); meaning
                   it's surface is hot enough to melt lead and other metals! Venus is an
                   active planet with mountains and volcanoes. It is slightly smaller
                   than Earth but spins in the opposite direction meaning the sun rises
                   in the west and sets in the east. But on Venus the sun rises every
                   117 Earth days!</p>
                </div>
        </main>
<%- include('partials/footer.ejs') %>
           
